.jumbotron {
    text-align: center;
    border-radius: 10px;
}

.search {
    text-align: center;
    height: 11vh;
    background-color: rgb(88, 75, 59);
    border-radius: 10px;
}
.search h4 {
    font-size: 1.3rem;
}

#search-btn {
    justify-content: center;
}

#container {
    display: flex;
    justify-content: space-around;
}

.btn {
    border-radius: 10px;
    background-color: #74664e;
    color: white;
}

h2 {
    text-decoration: underline;
}
a:link {
    color:rgb(88, 75, 59)
}