.jumbotron {
    text-align: center;
    color: #E6C72E;
    background-color: #3A7399;
    margin-bottom: 5px;
}

.title{
    font-size: 10vw;
}

.search-container{
    background-color: #B1D1E6;
    margin-bottom: 10px;
}

.search {
    text-align: center;
    padding: 10px;
}

.search h4 {
    font-size: 1.3rem;
}

.search-again{
    color: white;
    text-align: center;
}

.btn {
    border-radius: 10px;
    background-color:#3A7399;
    color: white;
}

.btn:hoover{
    background-color: #E6C72E;
    color: #3A7399;
}

h2 {
    color: #3A7399;
    background-color: #E6C72E;
    padding: 5px;
}

.brewery-card, .ticket-card{
    background-color: #B1D1E6;
    color: #3A7399;
    border-style: double;
    border-color: #E6C72E;
    margin: 10px;
}

a:link{
    color: #3A7399;
}
